body{
		background-image: url(nightpoke8bit.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	#aboutMe{
		background-image: url(8bitpoke.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	@font-face {
		font-family: CustomMine;
		src:	local("8 Bit"),
					url(PressStart2P.ttf);
	}
