body {
height: 100%;

}

html{
	position: relative;
  min-height: 100%;
}

.bgwalert {
  background-image: url(nightpoke8bit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	margin-bottom: 60px;
}

.bgmini {
  background-image: url(9H0zMZ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgabout {
  background-image: url(earlpoke8bit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgcontact {
  background-image: url(8bitpoke.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: CustomMine;
  src: local("8 Bit"), url(PressStart2P.ttf);
}

#homeButton {
  width: 30px;
  height: 30px;
}

.icons {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.index {
  font-family: CustomMine;
  color: red;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

.mini {
  font-family: CustomMine;
  color: red;
  text-align: center;
  font-size: 23px;
  line-height: 70px;
}

.logos{
	height: 90px;
	width: 90px;
	margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #484848;
}

#mail{
	float: right;
}

td{
	height: 300px;
	width: 150px;

}
table{
	margin: auto;
}

/*div{
	background-color: orange;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}*/

.ran{
	background-color: orange;
}

.yer{
	background-color: blue
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.orange{
	background-color: orange;
}

.purple{
	background-color: purple;
}

.yellow{
	background-color: yellow;
}
