<!DOCTYPE html>
<html>
<head>
	<title>Kenneth's Webpage</title>
<style>
</style>
</head>
<body>

	body{

	}

	html{
		height: 100%;
		width: 100%;
	}

	@font-face {
		font-family: CustomMine;
		src:	local("8 Bit"),
					url(PressStart2P.ttf);
	}

	img {
		position: absolute;
		bottom: 0;
	}
	h2 {
    font-family: "8Bit", CustomMine;
    color: black;
    margin-left: 20px;
    text-align: center;
  }

  p {
    font-family: "8Bit", CustomMine;
    color: #E092A3;
    font-size: 25px;
    text-align: center;
	}

	a{
		-webkit-transition: width 2s;
		transition: width 2s;
	}

	a:hover{
		width: 300px;
	}
	h3 {
    font-family: "Ariel", Times, serif;
		color: white;
		font-size: 15px;
		text-align: left;
	}

	p.yes {
		font-family: "Ariel", Times, serif;
		color: blue;
		font-size: 20px;
		text-align: center;
		position: fixed;
		bottom: 1;
	}

</body>
</html>
